---
import {SignIn, SignOut} from "auth-astro/components";
import {getSession} from "auth-astro/server";
import Action from "@components/Action.astro";
import ThemeToggle from "./ThemeToggle";
import AntagonistaLogo from "@icons/AntagonistaLogo.astro";
import Insta from "@icons/Insta.astro";
import MangaPlus from "@icons/MangaPlus.astro";

const session = await getSession(Astro.request);

let name = '';
if (session) {
  name = session.user?.name.split(' ')[0];
}


---

<nav
  class="fixed top-0 left-0 right-0 bg-white/90 backdrop-blur-md shadow-md z-50 
 dark:bg-stone-950"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <a href="/" class="">
            <!-- Antagonista  -->
            <AntagonistaLogo width={96} height={64} />
          </a>
        </div>
        <div class="hidden sm:ml-8 sm:flex lg:space-x-7">
          <a
            href="/"
            class="inline-flex font-semibold items-center px-1 pt-1 transition-all
              text-gray-900 hover:text-primary/70
              dark:text-gray-100 dark:hover:text-purple-400"
          >
            Inicio
          </a>
          <a
            href="/personajes"
            class="inline-flex font-semibold items-center px-1 pt-1 transition-all
              text-gray-900 hover:text-primary/70
              dark:text-gray-100 dark:hover:text-purple-400"
          >
            Personajes
          </a>
          <a
            href="https://www.instagram.com/saikomic"
            target="_blank"
            class="inline-flex font-semibold items-center px-1 pt-1 transition-all"
          >
            <Insta />
          </a>
          <a
            href="https://medibang.com/mpc/titles/6k2208160633320990004683825/"
            target="_blank"
            class="inline-flex font-semibold items-center px-1 pt-1 transition-all"
          >
            <MangaPlus />
          </a>
        </div>
      </div>
      <div class="flex items-center ml-3 md:ml-0">
        <ThemeToggle client:load />
        {
          session ? (
            <div class="flex gap-3 items-center">
              <p
                class="flex gap-2 items-center skew-x-[-20deg] text-[10px] font-semibold md:text-sm py-1 px-2 md:px-5 md:py-2 
               bg-primary  text-white border-2 border-primary 
               dark:shadow-md dark:shadow-purple-500"
              >
                <img
                  src={session.user?.image}
                  alt="usuario img"
                  class="w-4 h-4 rounded-full skew-x-[+20deg]"
                />
                {name}
              </p>

              <Action
                id="logout"
                class="text-[10px] md:text-sm py-1 px-2"
                as="button"
                aria-label="Iniciar sesión con Google"
              >
                <span class="dark:absolute dark:inset-0 dark:bg-purple-500 dark:blur-lg dark:opacity-30 dark:rounded-lg" />
                <span class="dark:relative">Cerrar Sesión</span>
              </Action>
            </div>
          ) : (
            <SignIn
              provider="google"
              class:list={[
                "inline-block skew-x-[-20deg] cursor-pointer border-2 border-primary",
                "font-bold uppercase",
                "md:px-5 md:py-2",
                "before:absolute before:-inset-0.5 before:origin-right before:scale-x-0 before:bg-primary",
                "hover:scale-105 hover:text-white hover:before:origin-left hover:before:scale-x-100",
                "aria-disabled:pointer-events-none aria-disabled:border-[#666] aria-disabled:bg-[#666] aria-disabled:text-[#111]",
                "ease-in motion-safe:transition-[color,transform] motion-safe:before:transition-transform motion-safe:before:duration-300 motion-safe:before:ease-in motion-safe:hover:delay-100 motion-safe:hover:ease-out motion-safe:hover:before:delay-100 motion-safe:hover:before:ease-out",
                "active:scale-100",
                "w-full text-xs md:text-sm py-2 px-3",
                "dark:text-white dark:border-white/8 dark:hover:text-white dark:shadow-md dark:shadow-purple-500",
              ]}
            >
              <span class="inline-block skew-x-[9deg] ">
                <span class="dark:absolute dark:inset-0 dark:bg-purple-500 dark:blur-lg dark:opacity-30 dark:rounded-lg" />
                <span class="dark:relative">Iniciar sesión con Google</span>
              </span>
            </SignIn>
          )
        }
      </div>
    </div>
  </div>
</nav>

<script>
  import {$} from "@lib/dom-selector";

  const {signOut} = await import("auth-astro/client");
  const {signIn} = await import("auth-astro/client");

  document.addEventListener("astro:page-load", () => {
    const $login = $("#login");
    const $logout = $("#logout");

    if ($logout) {
      $logout.onclick = () => signOut();
    }

    // if ($login) {
    //   $login.onclick = () => signIn();
    // }

    if ($login) {
      $login.onclick = () => {
        const width = 600;
        const height = 700;
        const left = window.innerWidth / 2 - width / 2;
        const top = window.innerHeight / 2 - height / 2;

        window.open(
          "/auth/google",
          "Google Login",
          `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${top}, left=${left}`,
        );

        $login.setAttribute("aria-disabled", "true");
        const $span = $login.querySelector("span");

        if ($span) $span.innerText = "Iniciando sesión...";
        // Añade un temporizador que restablezca el botón después de 3 segundos
        setTimeout(() => {
          $login.removeAttribute("aria-disabled");
          if ($span) $span.innerText = "¡Inicia sesión para participar!";
        }, 6000);
      };
    }
  });
</script>
